#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
.box {
  border: 2px solid green;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
